* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1{
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0, #d9e6f2);
}

form {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 350px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 12px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}


button:hover {
    background: linear-gradient(135deg, #0056b3, #00408d);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

@media (max-width: 400px) {
    form {
        width: 90%;
    }
}
